body{
    background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu{
    background-image: linear-gradient(135deg, rgb(72, 229, 10)0%, rgb(86, 161, 45) 69%, rgb(149, 172, 32)89%) !important;
}

.div-Text{
  font-size: 24px;
  color: black;
}

@media screen and (max-width: 768px) {
  .ui.inverted.top.fixed.menu {
    background-image: linear-gradient(90deg, rgb(72, 229, 10) 0%, rgb(86, 161, 45) 69%, rgb(149, 172, 32) 89%) !important;
  
    .container {
      margin-top: 3em; /* Adjust the margin for smaller screens */
    }
    .ui.grid > .column {
      flex-direction: column;
    }
    
  }
}*/

.item-image{
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

.ui.grid > .column {
  display: flex;
}

/* Show on mobile only */
.mobile-only {
    display: none;
  }
  
  
  /* Show on tablet and up */
  .tablet-and-up {
    display: block;
  }
